* {
    box-sizing: border-box;
    font-family: sans-serif;
}

/* 
    ****************************************************************************************
                                        Main page
    ****************************************************************************************
*/
main {
    display: flex;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
}

.wraper {
    height: 80%;
    width: 100%;
    display: flex;
    border-radius: 10px;
    background-color: rgb(222, 222, 222);
}
section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    /* flex-wrap: wrap; */
}
section:nth-of-type(2){
    flex: 3;
}
article {
    display: block;
    flex: 1 ;
}

article:nth-of-type(2) {
    flex: 5 ;
}
h2 {
    border-bottom: 1px solid rgb(247, 169, 25);
}
nav {
    padding: 5px;
}

/* 
content_of_lists
*/
.list_of_content{
    overflow-y: auto;
}

/*
    ****************************************************************************************
                                         Projects section
    ****************************************************************************************
*/

.lists {
    list-style-type: none;
    padding-left: 5px;
}
.projects .list_of_content {
    /* border: 1px solid rgb(8, 5, 0); */
}
.lists li {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid rgb(14, 10, 1);
}
.proj_title{
    display: flex;
    flex-grow: 1;
    cursor: pointer;
    align-items: center;
}
.proj_title:hover {
    background-color: bisque;
}
.title_form {
    flex: 1 1;
    display: flex;
}
.flex_item {
    flex: 1 1;
}
.btn_list {
    display: inline-block;
    border-radius: 5px;
    border: none;
    height: 35px;
    cursor: pointer;
    background: rgb(53, 34, 11);
    color: #eee;
    margin-left: 5px;
 }
.btn_list:hover {
    background-color:  rgba(255, 255, 255, 0.7);
 }
 .title_form {
    align-items: center;
    justify-content: center;
 }
 .title_form input {
    height: 35px;
    margin: 0px;
 }
 .btn-outline-danger {
    --bs-btn-color: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dc3545;
    --bs-btn-hover-border-color: #dc3545;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #dc3545;
    --bs-btn-active-border-color: #dc3545;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: #dc3545;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #dc3545;
    --bs-gradient: none;
}
.btn {
    --bs-btn-padding-x: .75rem;
    --bs-btn-padding-y: .375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: .375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    --bs-btn-disabled-opacity: .65;
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
/*
    ****************************************************************************************
                                         Task section
    ****************************************************************************************
*/
.tasks {
    /* background-image: url('../images/bottel.jpg'); */
    background-color: teal;
    background-size: cover;
    color: aliceblue;
 }
 .add-task {
    display: flex;
    align-items: center;
 }
.btn_task {
    flex: 1 1;
    display: inline-block;
    border-radius: 5px;
    background: rgb(121, 210, 158);
    height: 35px;
    border: none;
    width: 100%;
    cursor: pointer;
    color: aliceblue;
 }
.btn_task:hover {
    background-color:  rgba(197, 154, 101, 0.7);
    font-weight: bold;
 }
/* Customize the label (the container) */
.container {
    display: flex;
    position: relative;
    padding: 5px;
    background: rgb(255, 255, 255);
    color: black;
    min-height: 30px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.task_desc {
    flex-grow: 1;
}
.task_options {
    margin: 0px;
    margin-block-end: 0em;
    max-width: 20%;
}

.delete_btn:hover{
    background: #dc3545;
    color: #fff;
}
.update_btn:hover{
    background: blue;
    color: #fff;
}
/*
    ****************************************************************************************
                                        popup
    ****************************************************************************************
/
  /* Popup container */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    align-items: center;
    border-radius: 10px;
}

#update_task_btn {
    display: none;
}
